:root {
  --main-color: rgb(16, 72, 146);
  --main2-color: #293241;
  --sub-color: #8bc9ee;
  --sub2-color: #54b3d6;
  --etc-color: #d9d9d9;
  --error-color: #ee6c4d;
}
hr {
  width: 100%;
  margin: 3em auto;
}

.Portfolio {
  margin: 0 auto;
}
.PortfolioWrap {
  width: 60%;
  margin: 0 auto;
}
.PortUserInfo {
  width: fit-content;
  align-items: center;
  margin-top: 15vh;
}
.PortUserInfo .PortImgWrap {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 10px solid rgb(196, 220, 255);
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
}
.PortUserInfo .PortImgWrap img {
  width: 100%;
  height: 100%;
}
.PortUserInfo .PortTxtWrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 200px;
}
.PortUserInfo .PortTxtWrap p{
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: bold;
}
.PortUserInfo .PortTxtWrap p:first-child {
  font-size: 4rem;
  margin-bottom: 5vh;
}

.PortTxtWrap2 {
  line-height: 2rem;
}
.PortMainTxt {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5vh;
}

.PortTxtWrap3 {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.DashBoard {
  display: flex;
  gap: 5vw;
}

.DashTxt {
  text-align: center;
  margin-top: 2vh;
}
svg {
  width: 114px;
  height: 114px;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #bfbfbf;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: var(--main-color);
  animation: progress-1 1s ease-out;
}
.meter-2 {
  stroke:  var(--sub-color);
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-2 .75s ease-out;
}
.meter-3 {
  stroke:  var(--sub2-color);
  stroke-dasharray: 360;
  stroke-dashoffset: 250;
  animation: progress-3 .5s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 100;
    }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 250;
  }
}