.section-component {
  background-color: aquamarine;
  border-radius: 5px;
  width: 50rem;
  margin: 30px 0;
}

.section-component-title {
  display: flex;
  align-items: center;
  height: 3rem;
}

.section-hr {
  margin: 0;
}

.section-component-content {
  display: flex;
  align-items: center;
}
