:root {
  --main-color: rgb(16, 72, 146);
  --main2-color: #293241;
  --sub-color: #8bc9ee;
  --sub2-color: #54b3d6;
  --etc-color: #d9d9d9;
  --error-color: #ee6c4d;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.HeaderTitle a {
  cursor: pointer;
  color: var(--main-color);
  font-family: 'yg-jalnan';
  position: fixed;
  top: 4vh;
  left: 3vw;
  font-size: 1.5rem;
}
.HeaderTitle a:hover {
  animation: logoAni 3s infinite ease-in;
}
@keyframes logoAni {
  0% {
    color: var(--main-color);
  }
  25% {
    color: var(--sub2-color);
  }
  50% {
    color: var(--main2-color);
  }
  75% {
    color: var(--error-color);
  }
  100% {
    color: var(--main-color);
  }
}
.NavLinks {
  display: flex;
  flex-direction: row;
  gap: 18px;
  position: fixed;
  top: 4vh;
  right: 3vw;
}
.NavLinks .NavLink a {
  font-family: 'KoPubDotumMedium';
  color: var(--main2-color);
  cursor: pointer;
}

.NavLinks .NavLink a:hover {
  color: var(--main2-color);
  font-weight: bold;
}
