.ProjectWrap {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.ProjectWrap .AddSlider {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #104892;
  font-size: 2rem;
  color: #104892;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 999;
}
.ProjectWrap .AddSlider:hover {
  color: white;
  background-color: #104892;
}
.ProjectWrap input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.ProjectWrap form {
  max-width: 80%;
  margin: 0 auto;
}
.ProjectWrap1 {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #ddd;
  cursor: pointer;
}
.ProjectWrap1 img {
  width: 100%;
  height: 100%;
  display: none;
}
.ProjectWrap1 span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ProjectWrap2 {
  margin-top: 20px;
}
.ProjectWrap2 > input {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
  width: 100%;
}
.ProjectWrap2 > input::placeholder {
  color: black;
}
.ProjectWrap2 .date {
  display: inline-block;
}
.ProjectWrap2 .date input {
  color: #999;
  margin-top: 10px;
}
.ProjectWrap2 .date input[type='date']::-webkit-inner-spin-button,
.ProjectWrap2 .date input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.ProjectWrap3 {
  margin-top: 20px;
}
.ProjectWrap3 textarea {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.9rem;
  width: 100%;
  min-height: 100px;
  resize: none;
}
.ProjectWrap3 textarea::placeholder {
  color: black;
}
.ProjectWrap4 {
}
.ProjectWrap4 button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #999;
  cursor: pointer;
}
.ProjectWrap4 span {
  margin-left: 5px;
}

/*슬라이드 컨트롤러*/
.ProjectWrap .swiper {
  /* overflow: visible; */
}
.swiper .swiper-button-next {
  /* right: -20px; */
}
