.StackTagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 600;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}
.StackTag {
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
}
.StackTagList .StackTag button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ccc;
  color: #777;
  font-size: 0.7rem;
  border-radius: 100%;
  vertical-align: middle;
  margin-left: 5px;
}
