.Edit {
  display: flex;
}
.OptionBar {
  position: fixed;
  display: flex;
}
/* edit-bar 부분 */
.EditBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
  height: 100vh;
  width: 90px;
}

.EditOption button {
  border: none;
  background-color: beige;
  border-radius: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 10px;
  cursor: pointer;
}

/* section-bar 부분 */
.SectionBar, .DesignBar {
  background-color: beige;
  height: 100vh;
  width: 200px;
}
.SectionBar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.SectionBar ul li {
}

.SectionButton, .DesignButton {
  border: none;
  border-radius: 5px;
  background-color: pink;
  width: 170px;
  height: 35px;
  cursor: pointer;
  font-size: 1rem;
  text-align: start;
}
.SectionButton.Toggle, .DesignButton.Toggle {
  background-color: plum;
}

/* section info 부분 */
.SectionInfo, .DesignInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}
