.edit {
  display: flex;
}
/* edit-bar 부분 */
.edit-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
  height: 100vh;
  width: 90px;
}
.edit-option {
  /* width: 70px;
  height: 70px;
  border-radius: 1rem;
  margin-top: 10px; */
}
.edit-option button {
  border: none;
  background-color: beige;
  border-radius: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 10px;
  cursor: pointer;
}

/* section-bar 부분 */
.section-bar {
  background-color: beige;
  height: 100vh;
  width: 200px;
}
.section-bar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.section-bar ul li {
}

.section-button {
  border: none;
  border-radius: 5px;
  background-color: pink;
  width: 170px;
  height: 35px;
  cursor: pointer;
  font-size: 1rem;
  text-align: start;
}
.section-button.toggle {
  background-color: plum;
}

/* section info 부분 */
.section-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}
