@font-face {
  font-family: 'LeferiPoint-WhiteA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
.SectionComponent, .DesignComponent {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto 20px auto;
  font-family: 'LeferiPoint-WhiteA';
}

.SectionComponentTitle, .DesignComponentTitle {
  /* display: flex; */
  align-items: center;
}
.SectionComponentTitle p, .DesignComponentTitle p {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 50px 50px 30px 50px;
  font-family: 'LeferiPoint-WhiteA';
}

.SectionHr, .DesignHr {
  margin: 0;
}

.SectionComponent input,
.SectionComponent textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  font-family: 'LeferiPoint-WhiteA';
  font-size: 1.1rem;
  padding: 0 10px;
  box-sizing: border-box;
}

.SectionComponentContent, .DesignComponentContent {
  /* display: flex; */
  flex-direction: column;
  padding: 0 50px 50px 50px;
}
.SectionComponentContent > div {
}
/* .SectionComponentContent form {
  margin: 1rem;
} */
.SectionComponentContent form textarea {
  resize: none;
  width: calc(100% - 80px);
  height: 40px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 35px;
  overflow: hidden;
  padding: 5px;
  font-family: 'LeferiPoint-WhiteA';
}
.SectionComponentContent form textarea:focus {
  outline: none;
}
.SectionComponentContent > div > div {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
  font-weight: 600;
}
.SectionComponentContent button {
  background-color: var(--main-color);
  width: 70px;
  line-height: 38px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: none;
  margin-left: 10px;
  font-size: 1rem;
  vertical-align: top;
  cursor: pointer;
  font-family: 'LeferiPoint-WhiteA';
  font-weight: bold;
}

.SectionComponent button.DeleteBtn {
  line-height: 20px;
  font-size: 0.9rem;
  background-color: #ccc;
  color: #555;
  font-weight: 600;
  margin-left: 0;
  margin-top: 5px;
}
